.Login-form{
  width:100%;
  max-width:300px;
  border-radius:20px;
  background-clip:padding-box;
  padding:20px;
  text-align:center;
}
.Login-form h3{
  font-size:30px;
  font-size:1.875rem;
  line-height:38px;
  line-height:2.375rem;
  font-family:Montserrat,Helvetica,Arial,sans-serif;
  font-weight:500;
  font-style:italic;font-size:32px;
  font-size:2rem;
  font-weight:700
}
.Login-form input{
  margin:10px 0 12px;
  width: 100%
}
.Login-form button{
  font-size:14px;
  font-size:.875rem;
  line-height:24px;
  line-height:1.5rem;
  font-family:Montserrat,Helvetica,Arial,sans-serif;
  font-weight:400;
  font-style:normal;
  font-weight:600;
  line-height:18px;
  line-height:1.125rem;
  letter-spacing:0;
  color:#fff;
  background:#c4161c;
  display:inline-block;
  padding:10px 30px;
  margin:15px 30px 15px 0;
  cursor:pointer;
  border:0;
  border-radius:25px;
  background-clip:padding-box;
  -ms-word-wrap:break-word;
  word-wrap:break-word;
  white-space:normal;
  width:100%;
  margin:5px 0
}
.Login-form select {
  margin:10px 0 12px;
  width: 100%
}
